body{
    background-color: rgb(196, 190, 190);
}
.container {
    position: absolute;
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 40px;
}
.background_rotate {
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    border-top-left-radius: 40px;

}
.bg-ratate{
    position: absolute;
    top: 0px;
    left: -90px;
    width: 350px;
    height: 300px;
    background-color: aqua;
    border-radius:12% 88% 30% 70% / 73% 34% 66% 27%   ;
    transform: rotate(0);
    z-index: -1;
    transition: all 1s;

}
/* menu */
.menu {
    position: absolute;
    background-color: #fff;
    border:1px solid #00000011;
    border-radius: 15px;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
}
.menu ul {
    padding: 0;
    margin: 0;
}
.menu li {
    list-style: none;
    width: 50px;
    padding: 25px 10px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
}
.menu li:nth-child(4){
    background-color: #000;
    color: #fff;
}
/* sider list */
.list {
    position: absolute;
    width: 100%;
    height: 300px;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all .5s;
    opacity: 0;

}
.item .images,
.item .content{
    width: 50%;
}

.content img {

    width: 50px;
}
.content table {
    width: 100px;
    position: absolute;
    top: 20%;
    right: 20px;
    font-family: system-ui;
    letter-spacing: 1px;
    transition: all 2s;
    opacity: 0;
    transform: translate(100%,0);
}
.content table tr:nth-child(2n +1) td{
   
}   
.item .images .item-img {
    position: absolute;
    width: 350px;
    height: 350px;
    left:-100px;
    top: -50px;
    border-radius: 50%;
    transition: 1s ease-in-out;
    transform: rotate(-30deg);
}
.item .images .item-img:nth-child(3){
    transform: rotate(-100deg);
} 
.item .images img {
    position: absolute;
    width: 140px;
    transition: all 2s;
}
.item .images .item-img:nth-child(1) img{
    width: 140px;   
    filter: blur(3px);
}
.item .images .item-img:nth-child(2) img{
    width: 170px;
    position: relative;
}
.item .images .item-img:nth-child(3) img{
    width: 100px;
    filter: blur(5px);
}
.item .images .item-img:nth-child(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 50px;
    content: '';
    background-image: var(--background-rotate);
    background-size: 100% 100%;
    filter: blur(20px);
    transition: 1s;
    transition-delay:1s ;
    opacity: 0;
} 
/* active */
.item.active{
    opacity: 1;
}
.item.active .content table {
    opacity: 1;
    transform: translate(0,0);
}
.item.active .images .item-img:nth-child(1){
    transform: rotate(120deg);
}
.item.active .images .item-img:nth-child(2){
    transform: rotate(170deg);
}
.item.active .images .item-img:nth-child(3){
    transform: rotate(200deg);
}
.item.active .images .item-img:nth-child(1) img{
    transform: rotate(-108deg);
}
.item.active .images .item-img:nth-child(2) img{
    transform: rotate(-188deg);
}
.item.active .images .item-img:nth-child(3) img{
    transform: rotate(-108deg) ;
}
.item.active .images .item-img:nth-child(2)::before{
    opacity: 1;
}

/* if item hide */

.item.hide {
    transition-delay: 2s ;
    opacity: 0;
}
.item.hide .images .item-img:nth-child(2)::before{
    opacity: 0;
    transition-delay: 0s !important;

}
.item.hide .images .item-img:nth-child(3){
    transform: rotate(300deg) !important;
    filter: blur(10px);
}
.item.hide .content table {
    transform: translate(-100%);
    opacity: 0;
}